#logo {border-radius: 50%;}
.parent {
    position: fixed;
    text-align: left;
    margin-right: 100rem;
}
.child {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: .5rem;
    padding-right: .5rem;
    background-color: powderblue;
}
.child2 {
    padding-bottom: 150%;
    padding-top: 10%;
    background-color: powderblue;
}
.buttons {
    width: 100%;
}
.buttonh {
    width: 100%;
    color: darkgray;
}
.buttonp {
    width: 100%;
    color: darkgray;
}
.buttona {
    width: 100%;
    color: darkgray;
}
.parent2 {margin-left: 8rem;;
position: relative;
margin-top: -1rem;}

.body1 {background-color: blanchedalmond;}
.body2 {background-color: blanchedalmond;}
.body3 {background-color: blanchedalmond;}

