*{margin: 0;}

.logo {border-radius: 50%;}

.parent {
    position: fixed;
    text-align: center;
    max-width: 7rem;
    background-color: powderblue;
    padding-bottom: 100%;
}
.child {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: .5rem;
    padding-right: .5rem;
    background-color: powderblue;
}
.child2 {padding-top: 1rem;padding-bottom: 1rem;}
.buttons {
    font-size: 90%;
    cursor: pointer;
    border-color: lightgrey;
    background-color: antiquewhite;
    width: 100%;
}

.buttons:hover {background-color: grey}

.parent2 {margin-left: 8rem;;
position: relative;}

body {background-color: burlywood;}
.sepbar1 {background-color: rgb(110, 67, 19);height: 20px;}

.header {font-size: 150%;}
.links {display: inline-block;}

.imglink {max-width: 100px;}

