{% extends 'index.html' %} {% load static %} {% block content %}
<div class="parent2">
  <div class="child2">
    <h3 class="header">Here are some skills that I've picked up</h3>
  </div>
  <div class="child2">
    <p class="sepbar1"></p>
  </div>
  <p class="skills">
    I have grown to be proficient in Python and Html/Css, although I personally
    enjoy Html/Css more.
  </p>
  <p class="sepbar1"></p>
  <div>
    <a href="https://lee-egdorf.github.io/Project-Goat/" target="_blank"
      ><img
        class="imglink"
        src="{% static 'images/Eragon.png' %}"
        alt="Eragon book cover link that is a hyperlink"
    /></a>
    <p>My Greatest Of All Time project</p>
    <p>Html/Css</p>
  </div>
  <p class="sepbar1"></p>
  <div>
    <a href="https://lee-egdorf.github.io/Fake-Charity/" target="_blank"
      ><img
        class="imglink"
        src="{% static 'images/yarnball.png' %}"
        alt="A yarnball that is a hyperlink"
    /></a>
    <p>My fake Charity project</p>
    <p>Html/Css</p>
  </div>
  <p class="sepbar1"></p>
  <div>
    <a href="https://replit.com/@LeeE2/Unit-2-project?v=1" target="_blank"
      ><img
        class="imglink"
        src="{% static 'images/cookbook.png' %}"
        alt="A cookbook hyperlink"
    /></a>
    <p>Unit 2 project (a virtual cookbook)</p>
    <p>Python</p>
  </div>
</div>
{% endblock content %}
